@model List<Post>

<div class="row">
    <div class="col-12">
        <h2>Post Listesi</h2>
        <hr />
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th style="width: 200px;">Image</th>
                    <th>Id</th>
                    <th>Title</th>
                    <th style="width:120px"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <img class="img-fluid" src="/img/@item.Image" alt="@item.Title" />
                        </td>
                        <td>@item.Title</td>
                        <td>@item.IsActive</td>
                        <td>
                            <a href="#" class="btn btn-sm btn-primary mr-2">Edit</a>
                            <a href="#" class="btn btn-sm btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
